#start-button {
    font-size: 4em;
    text-decoration: none;
    padding-right: 20px;
}

/* Boutons connexion/nouveau compte */
#main-content-container:last-of-type div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
