.light {
    --red: #ff7070;
    --green: #5D924F;
    --orange: #FE7F2D;
    --blue: #53A8EC;

    --light-bg-primary: #D2D6DA;
    --light-bg-secondary: #FFFFFF;
    --light-fg: #23282E;

    --dark-bg-primary: #16161D;
    --dark-bg-secondary: #23232F;
    --dark-fg: #F5F5F5;

    --accent: var(--orange);
    --error: var(--red);
    --success: var(--green);
}

.dark {
    --red: #A10000;
    --green: #5D924F;
    --orange: #FE7F2D;
    --blue: #53A8EC;

    --light-bg-primary: #36363E;
    --light-bg-secondary: #4D4D55;
    --light-fg: #EBEBEB;

    --dark-bg-primary: #16161D;
    --dark-bg-secondary: #23232F;
    --dark-fg: #F5F5F5;

    --accent: var(--orange);
    --error: var(--red);
    --success: var(--green);
}
