@font-face {
  font-family: Iosevka Etoile Extrabold;
  src: url(/fonts/iosevka-etoile-extrabold.ttf);
}

@font-face {
    font-family: Iosevka Slab Regular;
    src: url(/fonts/iosevka-slab-regular.ttf);
}

@font-face {
    font-family: Lato Regular;
    src: local("Lato Regular"),
         url(/fonts/Lato-Regular.ttf);
}

:root {
    --font-standard: "Lato Regular", sans-serif;
    --font-mono: "Iosevka Slab Regular", monospace;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--light-bg-primary);
    color: var(--light-fg);
    font-family: var(--font-standard);
    font-size: large;
    display: flex;
    flex-flow: row wrap;
}

body > * {
    flex: 1 100%;
}

#main-content-container {
    display: grid;
    place-items: center;
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--dark-bg-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px black;
}

#logo {
    width: auto;
    height: 90%;
    margin: 10px;
}

#app-title, #app-title:active, #app-title:hover, #app-title:visited {
    color: #282828;
    font-family: "Iosevka Etoile Extrabold", serif;
    font-size: 3em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--dark-fg);
    text-decoration: none;
}

#theme-switcher {
    position: absolute;
    right: 0;
    margin: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition-duration: 0.1s;
}

#theme-switcher:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.red-switcher {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    box-shadow: 0 0 20px var(--yellow);
}

.red-switcher:hover {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    box-shadow: 0 0 10px var(--blue);
}

.blue-switcher {
    background-color: var(--blue);
    border: 1px solid var(--blue);
    box-shadow: 0 0 10px var(--blue);
}

.blue-switcher:hover {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    box-shadow: 0 0 20px var(--yellow);
    
}
