@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

@font-face {
  font-family: Iosevka Etoile Extrabold;
  src: url(/fonts/iosevka-etoile-extrabold.ttf);
}

@font-face {
    font-family: Iosevka Slab Regular;
    src: url(/fonts/iosevka-slab-regular.ttf);
}

@font-face {
    font-family: Lato Regular;
    src: local("Lato Regular"),
         url(/fonts/Lato-Regular.ttf);
}

:root {
    --font-standard: "Lato Regular", sans-serif;
    --font-mono: "Iosevka Slab Regular", monospace;
}

* {
    margin: 0;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--light-bg-primary);
    color: var(--light-fg);
    font-family: var(--font-standard);
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

#main-content-container {
    margin: 10px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-content-container > * {
    margin: 10px;
}


strong {
    text-decoration: underline;
    text-decoration-color:  var(--accent);
}

button {
    font-size: inherit;
}

a.button, a.button:visited {
    text-decoration: none;
    color: var(--dark-fg);
}
