/* Collection de classes créant des composants/comportement réutilisables. */

/* Définit un bouton cliquable */
.button {
    background-color: var(--dark-bg-primary);
    color: var(--dark-fg);
    font-family: var(--font-standard);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--dark-bg-primary);
    border-radius: 5px 5px 5px 5px;
    transition-duration: 0.1s;
    min-width: 100px;
}
.button:hover {
    background-color: var(--dark-bg-secondary);
    border-color: var(--accent);
    transform: scale(1.10);
    box-shadow: 0 0 10px var(--accent);
    cursor: pointer;
}

/* Définit une zone de texte ou d'information mise en évidence */
.area {
    background-color: var(--light-bg-secondary);
    color: var(--light-fg);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--light-bg-secondary);
    border-radius: 5px 5px 5px 5px;
    overflow: auto;
}

/* Ajoute un effet de clignotement doux. */
.blink {
    font-family: inherit;
    font-size: inherit;
    animation-name: anim-blink;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes anim-blink {
    from { opacity: 100%; }
    to { opacity: 0%; }
}

/* Ajoute un effet de clignotement type curseur */
.cursor-blink {
    animation: cursor-blink 1s step-start infinite;
    background-color: var(--light-fg);
    color: var(--light-fg);
}
@keyframes cursor-blink {
    50% {
        background-color: var(--light-bg-secondary);
        color: var(--light-bg-secondary);
    }
}

/* Cache un élément. L'élément est toujours rendu dans la page. */
.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 0;
    height: 0;
}
