/* Collection de classes créant des composants réutilisables */

/* Schéma de couleurs et polices */
:root {
    --red: #A30000;
    --green: #5D924F;
    --yellow: #FE7F2D;
    --blue: #3F728D;

    /* Light theme */
    --light-bg-primary: #C7CCD1;
    --light-bg-secondary: #FFFFFF;
    --light-fg: #2D333B; 

    /* Dark theme */
    /*--light-bg-primary: #23232F;
    --light-bg-secondary: #2B2B3B;
    --light-fg: #F5F5F5;*/

    --dark-bg-primary: #16161D;
    --dark-bg-secondary: #23232F;
    --dark-fg: #F5F5F5;

    --accent: var(--yellow);
    --error: var(--red);
    --success: var(--green);

    --font-standard: "Lato", sans-serif; /*TODO */
    --font-mono: "Iosevka", monospace; /* TODO */
}

/* Définit un bouton cliquable */
.button {
	background-color: var(--dark-bg-primary);
    color: var(--dark-fg);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--dark-bg-primary);
    border-radius: 5px 5px 5px 5px;
    transition-duration: 0.1s;
    min-width: 100px;
}
.button:hover {
    background-color: var(--dark-bg-secondary);
    border-color: var(--accent);
    transform: scale(1.10, 1.10);
    box-shadow: 0 0 10px var(--accent);
    cursor: pointer;
}

/* Définit une zone de texte ou d'information mise en évidence */
.area {
    background-color: var(--light-bg-secondary);
    color: var(--light-fg);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--light-bg-secondary);
    border-radius: 5px 5px 5px 5px;
    overflow: auto;
}

/* Ajoute un effet de clignotement doux. */
.blink {
    font-family: inherit;
    font-size: inherit;
    animation-name: anim-blink;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes anim-blink {
    from { opacity: 100%; }
    to { opacity: 0%; }
}

/* Cache un élément. */
.hidden {
    display: none !important;
}
