#dactylotest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#virtual-user-input,
#text-container {
    width: 800px;
    height: 150px;
    resize: none;
    text-align: left;
    user-select: none;
    overflow: wrap;
    font-family: "Iosevka Slab Regular";
}
