#dactylotest-container {
    display: flex;
    flex-direction: row;
}

#user-input {
    min-height: 200px;
    resize: none;
    text-align: left;
    user-select: none;
}

#user-input br {
    margin: 5px 0px 5px 0px;
    font-family: inherit;
    font-size: 1.5em;
}

#user-input span {
  font-size: 30px;
  font-family: "Iosevka Etoile Extrabold";
}
