#main-container {
    height: 100%;
    display: grid;
    place-items: center;
}

h1 {
    color: #fe8019;
    font-family: "Verdana";
    font-size: 5em;
    animation-name: color-title;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes color-title {
    0%      { color: #fb4934; }
    20%     { color: #b8bb26; }
    40%     { color: #fabd2f; }
    60%     { color: #83a598; }
    80%     { color: #d3869b; }
    100%    { color: #8ec07c; }
}
