#main-container {
    height: 20%;
    display: grid;
    place-items: center;
}

#test-container {
    height: fit-content;
    width: 500px;
    margin: auto;
    text-align: center;
    color: white;
}
#test-container p {
    padding-top: 10px;
    padding-bottom: 20px;
}

#output {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
  }


h1 {
    color: #fe8019;
    font-family: "Verdana";
    font-size: 5em;
    animation-name: color-title;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes color-title {
    0%      { color: #fb4934; }
    20%     { color: #b8bb26; }
    40%     { color: #fabd2f; }
    60%     { color: #83a598; }
    80%     { color: #d3869b; }
    100%    { color: #8ec07c; }
}