#start-button {
    font-size: 4em;
    text-decoration: none;
    padding: 5px;
}

#main-content-container {
    width: 66vw;
    max-width: 750px;
    margin: auto;
    text-align: justify;
}

/* Boutons connexion/nouveau compte */
#main-content-container:last-of-type div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
