@font-face {
  font-family: Iosevka Etoile Extrabold;
  src: url(/fonts/iosevka-etoile-extrabold.ttf);
}

:root {
    /*--black: #1b1f22;
    --grey: #4d5e67;
    --blue: #009fe3;
    --red: #cc4b4b;
    --orange: #ea5b0c;
    --green: #507525;*/
    --red: #fb4934;
    --green: #b8bb26;
    --yellow: #fabd2f;
    --blue: #83a598;
    --purple: #d3869b;
    --aqua: #8ec07c;
    --orange: #fe9019;
    --background: #282828;
    --background-hard: #1d2021;
    --background-soft: #32302f;
    --foreground: #ebdbb2;


}
* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--background);
    display: flex;
    /*flex-direction: column;
    justify-content: space-between;*/
    flex-flow: row wrap;
}

body > * {
    flex: 1 100%;
}

p {
    color: var(--foreground);
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
}

.hidden {
    display: none;
}

button,
.button {
    background-color: var(--background-hard);
    border: 2px solid var(--orange);
    color: var(--foreground);
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #000;
    transition-duration: 0.1s;
}

button:hover,
.button:hover {
    background-color: var(--background-soft);
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.text-field {
    background-color: var(--background-hard);
    border: 2px solid var(--orange);
    color: var(--foreground);
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    padding: 10px;
    margin: 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px #000;
}
