{% extends '@!EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <h1>¯\_(ツ)_/¯</h1>
    <br>
    <p>
        Ceci est la page d'administration de Ptero Dactyl.
        C'est bien utile pour gérer les entrées de la base de données.
    </p>
{% endblock %}
