{% include "_nav.html.twig" %}

<header id="header">
    <div id="nav-opener-container">
        <a onclick="openNav()">
            <div id="nav-opener">
                <div></div>
            </div>
            <p id="nav-opener-text">Menu</p>
        </a>
    </div>
    <div id="logo-container">
        <a href="{{ path('home') }}"><img id="logo" src="{{ asset('images/big_gra.png') }}" alt="Logo"></a>
        <a href="{{ path('home') }}" id="app-title">Ptero Dactyl<span class="blink">_</span></a>
    </div>

    <div id="theme-switcher-container">
        <button id="theme-switcher" title="Changer de thème">
            <i class="bi"></i>
        </button>
    </div>
</header>

<script type="text/javascript">
    function openNav () {
      document.getElementById('nav').style.width = '250px'
      document.getElementById('nav-opener-container').style.position = 'fixed'
      document.getElementById('nav-opener').classList.add('nav-opener-active')
      document.getElementById('nav-opener-text').classList.add('nav-opener-text-active')
      document.getElementById('nav-opener-text').innerHTML = 'Fermer'
      setTimeout(() => {
        document.getElementById('header').addEventListener('click', closeNav)
        document.getElementById('main-content-container').addEventListener('click', closeNav)
      }, 1)
    }

    function closeNav () {
      document.getElementById('nav').style.width = '0'
      document.getElementById('nav-opener-container').style.position = 'absolute'
      document.getElementById('nav-opener').classList.remove('nav-opener-active')
      document.getElementById('nav-opener-text').classList.remove('nav-opener-text-active')
      document.getElementById('nav-opener-text').innerHTML = 'Menu'
      setTimeout(() => {
        document.getElementById('header').removeEventListener('click', closeNav)
        document.getElementById('main-content-container').removeEventListener('click', closeNav)
      }, 1)
    }
</script>

<style>
.blink {
    font-family: inherit;
    font-size: inherit;
    animation-name: anim-blink;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes anim-blink {
    from { opacity: 100%; }
    to { opacity: 0%; }
}

header {
    height: 80px;
    background-color: var(--dark-bg-primary);
    color: var(--dark-fg);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 10px var(--dark-bg-primary);
    transition: margin-left 0.5s;
}

#nav-opener-container {
    position: absolute;
    top: 20px;
    left: 10px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 100px;
    max-width: 15%;
    z-index: 2;
}

#nav-opener-container > a {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#nav-opener-container > a:hover {
    cursor: pointer;
}

#nav-opener-text {
    color: var(--dark-fg);
    transition: all 0.2s ease-in-out;
}

#nav-opener,
.nav-opener-active {
  margin: 10px;
  width: 20px;
}


#nav-opener:after,
#nav-opener:before,
#nav-opener div,
.nav-opener-active:after,
.nav-opener-active:before,
.nav-opener-active div {
  background-color: var(--dark-fg);
  border-radius: 3px;
  content: '';
  display: block;
  height: 2px;
  margin: 4px 0;
  transition: all 0.2s ease-in-out;
}

.nav-opener-active:before {
  transform: translateY(6px) rotate(45deg);
}

.nav-opener-active:after {
  transform: translateY(-6px) rotate(-45deg);
}

.nav-opener-active div {
  transform: scale(0);
}

.nav-opener-text-active {
  text-decoration: none;
}

#logo-container {
    flex: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 80px;
}

@media all and (max-width: 700px) {
    #app-title, #app-title:active, #app-title:hover, #app-title:visited {
        display: none;
    }
}

#app-title,
#app-title:active,
#app-title:hover,
#app-title:visited {
    color: #282828;
    font-family: "Iosevka Etoile Extrabold", serif;
    font-size: 3em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--dark-fg);
    text-decoration: none;
}

#theme-switcher-container {
    position: absolute;
    top: 25px;
    right: 20px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    max-width: 15%;
}

#theme-switcher {
    border:none;
    background: none;
    font-size: 1em;
    transition-duration: 0.1s;
}

#theme-switcher:hover {
    cursor: pointer;
    transform: rotate(-33deg);
}

.red-switcher {
    color: var(--orange);
}

.red-switcher:hover {
    color: var(--blue);
}

.blue-switcher {
    color: var(--blue);
}

.blue-switcher:hover {
    color: var(--orange);
}

</style>
