{% extends "base.html.twig" %}

{% block title %}A propos{% endblock %}

{% block body %}
    {% include "_about.html.twig" %}
    <p id="app-version">v{{ app_version }}</p>
    <p>Copyright © 2021 Ptero Dactyl. Tous droits réservés.</p>
{% endblock %}
