{% extends 'base.html.twig' %}

{% block title %}Dactylotest{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("css/dactylotest.css") }}">
{% endblock %}

{% block content %}
<h1> Cliques sur la zone de texte pour commencer à écrire !</h1>
<div id="dactylotest-container">
  <textarea id="hidden-input" style="opacity:0;width:0;height:0;"> </textarea>
  <div id="user-input" class="text-area"></div>
</div>

<script type="text/javascript" src="{{ asset("js/dactylotest.js") }}"></script>
{% endblock %}
