{% extends 'base.html.twig' %}

{% block title %}Dactylotest{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("css/dactylotest.css") }}">
{% endblock %}

{% block content %}
<div id="dactylotest-container">

    <div id="text-container" class="area"></div>
    <textarea id="user-input" class="area"></textarea>
    <div id="virtual-user-input" class="area"></div>

</div>

<script type="text/javascript" src="{{ asset("js/dactylotest.js") }}"></script>
{% endblock %}
