 <header>
    <nav>
        <a class="button" href="{{ path("app_login") }}">Connexion</a>
        <a class="button" href="#">Créer un compte</a>
    </nav>

    <div id="logo-container">
        <img id="logo" src="{{ asset("images/big_gra.png") }}" alt="Logo">
        <a href="{{ path('home') }}" id="app-title">Ptero Dactyl<span class="blink">_</span></a>
    </div>

    <button id="theme-switcher" class="red-switcher" title="Changer de thème"></button>
</header>
