{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

{% include "header.html.twig" %}

<div id="main-content-container">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

    <button class="button start-button">
        <a href="{{ path('benchmark') }}"><i class="fas fa-play"></i> Benchmark</a>
    </button>
    <button class="button start-button">
        <a href="{{ path('exercise') }}"><i class="fas fa-play"></i> Exercice</a>
    </button>

    {% else %}

    <p>Pour accéder aux benchmarks et aux exercices, veuillez vous connecter.</p>

    {% endif %}
</div>

{% endblock %}
