{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset("css/home.css") }}">
{% endblock %}

{% block body %}
    <header>
        <img id="logo" src="{{ asset("images/big_gra.png") }}">
        <h1>Ptero Dactyl<span class="blink">_</span></h1>
    </header>

    <div id="main-content-container">
        <button id="start-button">Démarrer un test</button>
        <div id="test-container" class="hidden">
            <form name="chronoForm">
                <input class="text-field" type="text" name="chronotime" id="chronotime" value="0:00:00:00"/>
                <input class="button" type="button" name="startstop" value="start!" onClick="chronoStart()" />
            </form>

            <p>
                Appuyez sur une touche du clavier pour voir quelle 
                valeur clé de KeyboardEvent correspond à chaque événement
            </p>
            
            <div id="output"></div>
        </div>
    </div>

    <script src="{{ asset("js/home.js") }}"></script>
{% endblock %}
