form {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

form > div > input {
    background-color: var(--light-bg-secondary);
    color: var(--light-fg);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--light-bg-secondary);
    border-radius: 5px 5px 5px 5px;
    overflow: auto;
}
